.background-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
}

.background-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #68e0cf;
}

.background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background-filter .background-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    mix-blend-mode: luminosity;
}

@media screen and (max-width: 480px) {
    .background-bg {
        position: fixed;
        width: 100%;
        height: 60vh;
        z-index: -1;
    }
}