.nav-item{
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-size: 12px;
  &:hover{
    color: #68e0cf;
  }
}

.header-container{
  background-color: #585d65;
  position: fixed;
  z-index: 999;
  height: 80px;
  border-radius: 80px;
  left: 50px;
  right: 50px;
  display: flex;
}

.logo-container{
  display: block;
  margin-left: 40px;
}

@media screen and (max-width: 480px) {
  .header-container {
      display: none;
  }
}