.started-content {
  padding: 70px 60px;
  max-width: 1000px;
  display: inline-block;
  border-bottom: 1px solid #585d65;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .started-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 0px;
    width: 80%;
  }
}