.entity-text{
  font-size: 14px;
  line-height: 1.2;
  color: #68e0cf;
  font-weight: 600;
  text-transform: uppercase;
}

.h-title{
  font-size: 4.2vw;
  line-height: 1.4;
  font-weight: 800;
  color: #fff;
}

.s-title{
  font-size: 3.0vw;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .h-title{
    font-size: 10vw;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  body {
    font-size: small !important;
  }
}