.section.started .h-title {
  margin: 40px 0 0 -11vw;
  padding: 4.2vw;
  background: #373b40;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  border-radius: 264px;
  -moz-border-radius: 264px;
  -webkit-border-radius: 264px;
  -khtml-border-radius: 264px;
}

.section.started {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  position: relative;
  overflow: visible;
  height: 100vh;
  z-index: 11;
  border-bottom: 1px solid #585d65;
}

.centrize {
  display: table !important;
  table-layout: fixed !important;
  height: 100% !important;
  position: relative !important;
  top: 0;
  left: 0;
  z-index: 2;
}

.vertical-center {
  display: table-cell !important;
  vertical-align: middle !important;
}

.table-sizing {
  line-height: 2.0;
  td{
    padding-left: 30px !important;
  }
}

@media screen and (max-width: 480px) {
  .section.started .h-title {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .section.started {
    height: 100% !important;
  }

  .centrize {
    height: 0 !important;
    margin-bottom: 50px;
  }

  .phone-card-view{
    margin-top: -40px !important;
  }
}